.popup__container {
  position: fixed;
  width: 430px;
  height: 330px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 3;
}

@media screen and (max-width: 320px) {
    .popup__container {
      width: 282px;
      min-height: 322px;
    }
  }