.elements__card-like {
   width: 22px;
   height: 19px;
   background-image: url(../../../images/Like_button_inactive.svg);
   border: none;
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: center;
}


.elements__card-like:hover {
   opacity: 0.5;
   cursor: pointer;
 }