.header {
    max-width: 880px;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 320px) {
    .header {
      max-width: 100%;
      height: 56px;
      margin: 28px 0 38.25px;
    }
  }