.profile__title {
   max-width: 294px;
   font-weight: 500;
   font-size: 42px;
   line-height: 48px;
   margin: 0;
   padding: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

@media screen and (max-width: 320px) {
   .profile__title {
      font-size: 27px;
      line-height: 32.68px;
   }
 }