.profile__info {
    width: 336px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 22px;
    margin-right: 244px;
    padding: 0;
    gap: 16px;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

@media screen and (max-width: 900px) {
    .profile__info {
        margin: 22px auto auto auto;
        justify-content: center;
        align-items: center;
    }
  }

  @media screen and (max-width: 450px) {
    .profile__info {
        width: calc(100% - 2*25px);
    }
  }

@media screen and (max-width: 320px) {
    .profile__info {
        width: calc(100% - 2*19px);
        margin-left: auto;
        gap: 14px;
        /*align-items: center;*/
    }
  }