.profile__info {
    width: 336px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 22px;
    margin-right: 244px;
    padding: 0;
    gap: 16px;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

@media screen and (max-width: 320px) {
    .profile__info {
        width: calc(100% - 2*19px);
        margin-left: auto;
        margin-right: auto;
        gap: 14px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
  }